.kid-element {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#kid-container {
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-top: 2%;
}

span{
    display: block
}

button{
    font-size: 2rem;
    transition: ease-in-out .2s;
    border: 2px solid black;
    padding: 2%;
}

button:hover{
    cursor: pointer;
    background-color: aliceblue;
    transform: scale(1.07);
}