<style>

    .check {
        display: none;
    }

    .is-here {
        display: block;
    }    
</style>

<div class="row">
    <div class="column" id="shs">
      <div class="card">
        <div class="container">
            <h2><p><span class="check">&#10004;</span> Sharanka Shanmugalingam<p> </h2>
        </div>
      </div>
    </div>
  
    <div class="column" is="lk">
      <div class="card">
        <div class="container">
            <h2><p><span class="check">&#10004;</span> Lasse Klevang<p> </h2>
        </div>
      </div>
    </div>
  
    <div class="column" id="mn">
      <div class="card">
        <div class="container">
            <h2><p><span class="check">&#10004;</span> Mads Norby <p> </h2>
        </div>
      </div>
    </div>
  </div>